Source: libbitcoin-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl
Maintainer: Tom Jones <tom@oxix.org>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/Bitcoin/

Package: libbitcoin-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libclass-insideout-perl,
 libdigest-sha256-perl, libcrypt-random-source-perl, libparams-validate-perl,
 libcrypt-ripemd160, libfile-slurp-perl, b58
Description: Bitcoin private / public keypairs, and addresses
 Bitcoin private / public keypairs, and addresses
